{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
{% extends "airflow/dag.html" %}

{% block head_css %}
{{ super() }}
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}"
  rel="stylesheet">
<style>
  #data_source {
    width: 80%;
    margin-left: 25px;
  }

  #data_source td {
    position: relative;
  }

  #data_source tr td:first-child {
    width: 20%;
  }

  #data_source .field-name select,
  #data_source .field-name input {
    display: inline-block;
    width: 80%;
  }

  #data_source td>span.glyphicon {
    width: 1em;
    height: 1em;
  }


  #data_source.state-add select[name="data_source_id"],
  #data_source.state-add .btn-trash,
  #data_source.state-add .btn-add {
    display: none;
  }

  #data_source.state-edit input[name="new_data_source_id"],
  #data_source.state-edit .btn-remove {
    display: none;
  }

  #data_source .alert {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
  }

</style>
{% endblock %}

{% block body %}
{{ super() }}
<form method="get" id="data_source" class="state-edit">
  <div id="data_source_alert_success" style="display: none; margin-top: 10px;" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <div id="data_source_alert_error" style="display: none; margin-top: 10px;" class="alert alert-error" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
  <div class="form-group row field-name">
    <label class="col-form-label">名称</label>
    <br />
    <select name="data_source_id" class="form-control">
      <option value="" style="display:none">请选择</option>
      {% for item in data %}
      <option value="{{item.data_source_id}}">{{item.data_source_id}}</option>
      {% endfor %}
    </select>
    <input name="new_data_source_id" type="text" class="form-control">
    <span class="glyphicon glyphicon-plus btn-add" title="新增数据源" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-remove btn-remove" title="取消" aria-hidden="true"></span>
    <!-- <span class="glyphicon glyphicon-trash btn-trash" aria-hidden="true"></span> -->
  </div>
  <div class="form-group row">
    <label class="col-form-label">远程目录</label>
    <select name="remote_dir" class="form-control">
      <option value="" style="display:none">请选择</option>
      {% for remote_dir in remote_dirs %}
      <option value="{{remote_dir}}">{{remote_dir}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">数据库</label>
    <select name="database" class="form-control">
      <option value="" style="display:none">请选择</option>
      {% for database in databases %}
      <option value="{{database}}">{{database}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">地址</label>
    <input type="text" name="address" class="form-control">
  </div>
  <div class="form-group row">
    <label class="col-form-label">端口</label>
    <input type="text" name="port" class="form-control">
  </div>
  <div class="form-group row">
    <label class="col-form-label">用户名</label>
    <input type="text" name="username" class="form-control">
  </div>
  <div class="form-group row">
    <label class="col-form-label">密码</label>
    <input type="text" name="password" class="form-control">
  </div>
  <div class="form-group row">
    <div class="btn btn-submit btn-primary">提交</div>
  </div>
</form>
{% endblock %}
{% block tail %}
{{ super() }}
<script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script>
  $(document).ready(function () {
    var dataStr = '{{data|tojson|safe}}';
    var data = JSON.parse(dataStr);
    var currentItem = {};
    var f = document.forms['data_source'];

    function _fillData(item) {
      f.new_data_source_id.value = item.new_data_source_id || '';
      f.data_source_id.value = item.data_source_id || '';
      f.remote_dir.value = item.remote_dir || '';
      f.database.value = item.database || '';
      f.address.value = item.address || '';
      f.port.value = item.port || '';
      f.username.value = item.username || '';
      f.password.value = item.password || '';
    }
    // btn-add click
    $('.btn-add').on('click', function () {
      $('#data_source').removeClass('state-edit');
      $('#data_source').addClass('state-add');
      _fillData({});
    })
    // btn-remove click
    $('.btn-remove').on('click', function () {
      $('#data_source').addClass('state-edit');
      $('#data_source').removeClass('state-add');
      _fillData({});
    })
    // observer source name change
    $('select[name="data_source_id"]').on('change', function (ev) {
      $('#data_source').removeClass('state-add');
      $('#data_source').addClass('state-edit');
      var data_source_id = f.data_source_id.value;
      var i;
      for (i = 0; i < data.length; i++) {
        var item = data[i];
        if (item.data_source_id === data_source_id) {
          currentItem = item;
          _fillData(item);
          i = data.length;
        }
      }
    });
    
    var requestLock = false;
    $(".btn.btn-submit").click(function () {
      var f = document.forms["data_source"];
      var sendData = {
        data_source_id: f.data_source_id.value,
        new_data_source_id: f.new_data_source_id.value,
        remote_dir: f.remote_dir.value,
        database: f.database.value,
        address: f.address.value,
        username: f.username.value,
        password: f.password.value
      }
      if (!requestLock) {
        requestLock = true;
        $.ajax({
          method: "POST",
          url: '{{ url_for("airflow.update_data_source") }}',
          data: sendData,
          success: function (response_data) {
            $('#data_source_alert_success .content').text('修改成功');
            $('#data_source_alert_success').fadeIn(100).delay(3000).fadeOut(100);
          },
          error: function (response_data) {
            $('#data_source_alert_error .content').text('修改失败');
            $('#data_source_alert_error').fadeIn(100).delay(3000).fadeOut(100);
          },
          complete: function (jqXHT) {
            requestLock = false;
          }
        })
      } else {
        console.log("input error.")
      }
    });
  });

</script>
{% endblock %}
