{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
    {% extends "airflow/dag.html" %}
    
    {% block head_css %}
    {{ super() }}
    <link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}" rel="stylesheet">
    <style>
        #data_source .table{
            width: 80%;
        }
        #data_source td{
            position: relative;
        }
        #data_source tr td:first-child{
            width: 20%;
        }
        #data_source input[type="text"]{
            width: 100%;
            height: 80%;
        }
        #data_source td>span.glyphicon{
            width: 1em;
            height: 1em;
        }
        #data_source select[name="dataSourceName"],
        #data_source input[name="newSourceName"]{
            width: 200px;
        }
        #data_source.state-add select[name="dataSourceName"],
        #data_source.state-add .btn-trash,
        #data_source.state-add .btn-add{
            display: none;
        }
        #data_source.state-edit input[name="newSourceName"],
        #data_source.state-edit .btn-remove{
            display: none;
        }
        .btn.btn-submit {
            background: hsla(0, 0%, 70%, .3);
            cursor: pointer;
        }
        .btn.btn-submit:hover {
            background: hsla(0, 0%, 70%, .5);
        }
    </style>
    {% endblock %}
    
    {% block body %}
      {{ super() }}
    <form method="get" id="data_source" class="form-inline state-edit">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
        <table class="table">
            <tr>
                <td><label>名称</label></td>
                <td>
                    <select name="dataSourceName">
                        <option value="" style="display:none">请选择</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                    </select>
                    <input name="newSourceName" type="text">
                    <span class="glyphicon glyphicon-plus btn-add" title="新增数据源" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove btn-remove" title="取消" aria-hidden="true"></span>
                    <!-- <span class="glyphicon glyphicon-trash btn-trash" aria-hidden="true"></span> -->
                </td>
            </tr>
            <tr>
                <td><label>远程目录</label></td>
                <td><select name="target">
                    <option>ftp</option>
                    <option>sftp</option>
                </select></td>
            </tr>
            <tr>
                <td><label>数据库</label></td>
                <td><select name="target">
                    <option>ftp</option>
                    <option>sftp</option>
                </select></td>
            </tr>
            <tr>
                <td><label>地址</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>端口</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>用户名</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>密码</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <div class="btn btn-submit">提交</div>
                </td>
            </tr>
        </table>
    </form>
    {% endblock %}
    {% block tail %}
      {{ super() }}
      <script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
      <script src="{{ admin_static.url(filename='admin/js/form-1.0.0.js') }}"></script>
      <script>
        $( document ).ready(function() {
          function date_change(){
              execution_date = $("input#execution_date").val().replace(' ', 'T');
              loc = decodeURIComponent(window.location.href);
              loc = loc.replace('{{ execution_date }}', execution_date);
              window.location = loc;
          }
          $("input#execution_date").on("change.daterangepicker", function(){
              date_change();
          });
          $("input#execution_date").on("apply.daterangepicker", function(){
              date_change();
          });

          // btn-add click
          $('.btn-add').on('click', function(){
            $('#data_source').removeClass('state-edit');
            $('#data_source').addClass('state-add');
          })
          // btn-remove click
          $('.btn-remove').on('click', function(){
            $('#data_source').addClass('state-edit');
            $('#data_source').removeClass('state-add');
          })
          // observer source name change
          $('select[name="dataSourceName"]').on('change', function(ev){
            $('#data_source').removeClass('state-add');
            $('#data_source').addClass('state-edit');
            console.log(ev);
          })
        });
      </script>
    {% endblock %}
    