{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
{% extends "airflow/rerun_task_master.html" %}

{% block head_css %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dagre.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graph.css') }}">
<!-- <link href="https://cdn.bootcss.com/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet"> -->
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}"
  rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='vue-treeselect.min.css') }}">
<style>
  #task_edit {
    width: 80%;
    margin-left: 25px;
  }

  #task_edit td {
    position: relative;
  }

  #task_edit tr td:first-child {
    width: 20%;
  }

  #task_edit .alert {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
  }

  .inline-block {
      display: inline-block;
  }

  .rerun-date>div{
    display: inline-block;
    width: 33%;
  }
  input[name="task_type"][value="1"]:checked~.rerun-date{
    display: block;
  }
  #svg_container{
    margin-top: 20px;
  }
  .dependencies-select .vue-treeselect__multi-value-item.vue-treeselect__multi-value-item-new{
    display: none;
  }
</style>
{% endblock %}

{% block navlinks %}
<ul class="nav nav-tabs">
    <li class="">
        <a href="{{ url_for("airflow.rerun_tasks_list", dag_id=dag.dag_id)}}">重跑任务{% if count %} ({{ count }}){% endif %}</a>
    </li>
    {% if rerunTask %}
    <li class="">
        <a href="javascript:void(0)" onclick="window.location.href='{{ get_url('airflow.rerun_task_edit', dag_id=dag.dag_id) }}'" title="{{ _('Create New Record') }}">{{ _('Create') }}</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)" title="{{ _('Create New Record') }}">{{ _('Edit') }}</a>
    </li>
    {% else %}
    <li class="active">
        <a href="javascript:void(0)" title="{{ _('Create New Record') }}">{{ _('Create') }}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
{% block editbody %}
{{ super() }}
<form method="get" id="task_edit" class="">
  <div id="task_edit_alert_success" style="display: none; margin-top: 10px;" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <div id="task_edit_alert_error" style="display: none; margin-top: 10px;" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
  <div class="form-group row">
    <label class="col-form-label">任务名</label>
    <input type="text" class="form-control" name="task_id" 
     value="{% if rerunTask %}{{ request.args.get('task_id') }}{% endif %}"
     {% if request.args.get('task_id') %}readonly{% endif %}
    required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">重跑任务名</label>
    <select class="form-control" name="etl_task_id">
        {% for id in dag.task_ids %}
        <option value="{{id}}" 
        {% if rerunTask and rerunTask.etl_task_id==id %}selected{% endif %}
        >{{id}}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">重跑日期</label>
    <div class="rerun-date input-daterange">
      <div class="col">
        <input class="form-control date-picker" name="rerun_start_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
      <span>
        到
      </span>
      <div class="col">
          <input class="form-control date-picker" name="rerun_end_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">后置依赖项</label>
    <br/>
    <!-- <select class="form-control dependencies-select" multiple="multiple" name="rerun_downstreams"> -->
    <!-- </select> -->
    <div class="dependencies-select">
        <treeselect 
         :value="value" 
         :multiple="true" 
         :options="optionsWithAll" 
         :flat="true"
         :auto-select-ancestors="true"
         :auto-deselect-descendants="true"
         :searchable="false"
         :sort-value-by="'INDEX'"
         :value-format="'object'"
         :placeholder="'请选择'"
         :no-options-text="'当前没有可用选项'"
         :disabled="disabled"
         @input="onInput"
         @select="onSelect"
         @deselect="onDeselect"
         ref="select"
        >
          <div slot="value-label" slot-scope="{ node }" v-if="node.id>=0">{{'{{'}} node.label {{'}}'}}</div>
        </treeselect>
    </div>
    <div id="svg_container">
      <svg width="{{ width }}" height="{{ height }}">
        <g id='dig' transform="translate(20,20)"></g>
        <filter id="blur-effect-1">
          <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        </filter>
      </svg>
      <!-- <img id="loading" alt="spinner" src="{{ url_for('static', filename='loading.gif') }}"> -->
    </div>
  </div>
  <div class="form-group row">
    <div class="btn btn-submit btn-primary">提交</div>
  </div>
</form>
{% endblock %}
{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap-multiselect.min.js') }}"></script>
<script>
  var nowTime = new Date()
  $('.input-daterange').datepicker({
    language: 'zh-CN',
    format: 'yyyy-mm-dd',
    autoclose: true,
  })
  {% if rerunTask %}
  $('.date-picker[name="rerun_start_date"]').datepicker('setDate', "{{rerunTask.rerun_start_date}}")
  $('.date-picker[name="rerun_end_date"]').datepicker('setDate', "{{rerunTask.rerun_end_date}}")
  {% else %}
  $('.date-picker').datepicker('setDate', new Date())
  {% endif %}
</script>
<script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='dagre-d3.js') }}"></script>
<script src="{{ url_for('static', filename='vue.v2.6.10.min.js') }}"></script>
<script src="{{ url_for('static', filename='vue-treeselect.min.js') }}"></script>
<script>
  (function(){
    var idCounter = 0;
    var formatIdCounter = 0;

    /**
     * @typedef DownStreamOption
     * @type object
     * @property {number} id
     * @property {string} label
     * @property {number} depth
     * @property {number} parentId
     * @property {DownStreamOption[]|undefined} children
     */

    /**
     * @param {object} data
     * @param {number} key
     * @param {number} depth
     * @param {number} parentId
     * @returns {DownStreamOption[]}
     */
    function formatDownStreamOptionData(data, key, depth, parentId){
      if(typeof data === 'string') {
        return undefined;
      }
      if(typeof data === 'object') {
        var id;
        var innerKey;
        var children = [];
        for(innerKey in data){
          id = formatIdCounter++;
          var items = formatDownStreamOptionData(data[innerKey], innerKey, depth+1, id);
          children.push({
            id: id,
            label: innerKey,
            depth: depth,
            children: items,
            parentId: parentId
          });
        }
        return children;
      }
    }


    /**
     * @param {DownStreamOption} data
     * @param {number} key
     * @param {number} depth
     * @param {number} parentId
     * @returns {DownStreamOption[]}
     */
    function flatDownStreamOptionData(data){
      if(!data){
        return data;
      }
      if(!(data instanceof Array) && !!!data.children) {
        // leaf
        return [data];
      } else if(data instanceof Array) {
        // Array
        var innerKey;
        var children = data;
        var i;
        var result=[];
        for(i=0; i<children.length; i++){
          var child = children[i];
          var items = flatDownStreamOptionData(child);
          result = result.concat(items);
        }
        return result;
      } else {
        // branch
        var innerKey;
        var children = data.children;
        var i;
        var result=[data];
        for(i=0; i<children.length; i++){
          var child = children[i];
          var items = flatDownStreamOptionData(child);
          result = result.concat(items);
        }
        return result;
      }
    }

    var flatDownStreamOptions=[];
    var labelSet = [];
    var downstreamsOptionData = [];
    var downStreamOptions = [];
    var selectedLabelArr = [];
    var selectedIdArr=[];
    // initialize downstream options
    {% if task_downstreams %}
    downstreamsOptionData = {{task_downstreams|tojson|safe}};
    {% endif %}
    
    {% if rerunTask and rerunTask.rerun_downstreams %}
    selectedLabelArr = '{{rerunTask.rerun_downstreams|join(',')|safe}}'.split(',');
    {% endif %}
    downStreamOptions=formatDownStreamOptionData(downstreamsOptionData, 'root', 0, -1)
    flatDownStreamOptions = flatDownStreamOptionData(downStreamOptions);

    // default selected
    flatDownStreamOptions.forEach(function(option){
        var source = $('select[name="etl_task_id"]')[0].value;
        var selected = selectedLabelArr.indexOf(option.label)>-1;
        if(!selected){
          return;
        }
        var parentArr = flatDownStreamOptions.filter(function(p){
          return p.id == option.parentId;
        });
        var parentNode;
        for(;parentArr.length>0;){
          parentNode = parentArr[0];
          if(parentNode.label!=source && selectedLabelArr.indexOf(parentNode.label)<0){
            selected = false;
            parentArr = [];
          } else if(parentNode.label==source) {
            parentArr = [];
          }
          else {
            parentArr = flatDownStreamOptions.filter(function(p){
              return p.id == parentNode.parentId;
            });
          }
        }
        option.selected=selected;
        selected && selectedLabelArr.push(option.label) && selectedIdArr.push(option.id);
      }
    )

    function getChildrenOptionsById(options, rootId){
      var results=[];
      var i;
      for(i=0; i<options.length; i++){
        var item=options[i];
        if(item.parentId == rootId){
          results.push(item);
          results = results.concat(getChildrenOptionsById(options, item.id));
        }
      }
      return results;
    }

    function getOptionsByAttr(options, attrName, value){
      var i;
      var results = [];
      for(i=0; i<options.length; i++){
        var item = options[i];
        if(item[attrName]==value){
          results.push(item);
        }
      }
      return results.length>0 ? results : [];
    }

    var multiSelectApp;
    function initMultiSelectApp(){
      // register the component
      Vue.component('treeselect', VueTreeselect.Treeselect)

      multiSelectApp = new Vue({
          el: document.querySelector('.dependencies-select'),
          data: {
            // define the default value
            value: null,
            // define options
            options: downStreamOptions,
            optionAll: {
              id: -1,
              label: '全选',
              isNew: true,
            },
            valueLock: false,
            selectAllAction: false,
            deselectAllAction: false,
            disabled: false,
          },
          methods: {
            selectAll:function(){
              this.value = [this.optionAll].concat(flatOptions);
            },
            deselectAll: function(){
              this.value = [];
            },
            onInput: function(value, instanceId){
              if(value.length<shownFlatOptions.length+1 && this.hasSelectedOptionAll && !this.selectAllAction && !this.deselectAllAction) {
                this.value = value = value
                .filter(function(downStreamOption){
                  return downStreamOption.id>-1;
                })
              } 
              else if(!this.hasSelectedOptionAll && this.selectAllAction) {
                this.selectAll();
                this.selectAllAction = false;
              } 
              else if(this.deselectAllAction) {
                this.deselectAll();
                this.deselectAllAction = false;
              }
              else if(!this.hasSelectedOptionAll && value.length===shownFlatOptions.length && !this.selectAllAction && !this.deselectAllAction) {
                this.selectAll();
                this.selectAllAction = false;
              }
              var filteredValues = value
              .filter(function(downStreamOption){
                return downStreamOption.id>-1;
              })
              selectedLabelArr = filteredValues.map(function(downStreamOption) {
                return downStreamOption.label
              })
              selectedIdArr = filteredValues.map(function(downStreamOption) {
                return downStreamOption.id
              })
              refreshGraph();
            },
            onSelect: function(node){
              if(node.id==-1) {  // 全选id
                this.selectAllAction = true;
              } 

            },
            onDeselect: function(node){
              if(node.id==-1) {  // 全选id
                this.deselectAllAction = true;
              }
            }
          },
          computed: {
            optionsWithAll: function(){
              return this.options && this.options.length>0 ? 
               [this.optionAll].concat(this.options)
              :[];
            },
            hasSelectedOptionAll: function(){ 
              return this.value
              .map(function(downStreamOption) {
                return downStreamOption.id
              })
              .indexOf(this.optionAll.id) > -1;
            }
          },
          watch: {
            value: function(newVal, oldVal){
              console.log(newVal);
              console.log(oldVal);
            },
          },
        })
    }
    window.outerSelect = function(){
      multiSelectApp.value = flatOptions;
    }
    var flatOptions;
    var shownOptions;
    var shownFlatOptions;
    function setDownStreamOptions(){
      var target = $('select[name="etl_task_id"]').get()[0];
      var value = target.value;
      // var flatOptions = flatDownStreamOptions[value] || [];
      var sourceOptions = getOptionsByAttr(flatDownStreamOptions, 'label', value);
      var i;
      var sourceOption;
      var tempOptions;
      flatOptions = [];
      var shownOptions = [];
      for(i=0; i<sourceOptions.length; i++){
        sourceOption = sourceOptions[i];
        tempOptions = flatDownStreamOptionData(sourceOption.children)
        flatOptions = tempOptions && flatOptions.concat(tempOptions) || flatOptions;
        shownOptions = !!sourceOption.children ? shownOptions.concat(sourceOption.children) : shownOptions;
      }
      shownFlatOptions = flatDownStreamOptionData(shownOptions);
      multiSelectApp.options = shownOptions;
      multiSelectApp.value = flatOptions.filter(function(option){
        return selectedIdArr.indexOf(option.id)>-1;
      });
    }
    
    var nodes = [];
    var edges = [];
    var arrange = "LR";
    function createNode(name){
      return {
        id: name,
        value: {
          label: name,
          labelStyle: 'fill:#000',
          style: 'fill:#f0ede4;',
        }
      }
    }
    function createEdge(source, target){
      return {
        u: source,
        v: target,
        value: {
          style: 'stroke: #000;'
        }
      }
    }
    
    function refreshGraph() {
      var f = document.forms["task_edit"];
      var source = f.etl_task_id.value;
      var selected = selectedLabelArr;
      nodes = [];
      edges = [];
      var labelSet = [source];
      var i;
      var option;
      for(i=0; i<flatOptions.length; i++){
        option = flatOptions[i];
        if(labelSet.indexOf(option.label)<0){
          labelSet.push(option.label);
        }
      }
      var node;
      for(i=0; i<labelSet.length; i++){
        node = createNode(labelSet[i])
        if(node.id==source || selected.indexOf(node.id)>-1){
          node.value.style = 'stroke:#009900;'
        }
        nodes.push(node);
      }
      function hasDuplicatedEdge(item){
        var i;
        var edge;
        for(i=0; i<edges.length; i++){
          edge=edges[i];
          if(edge.u==item.u && edge.v==item.v){
            return true;
          }          
        }
        return false;
      }
      flatOptions.forEach(function(option){
        var parentOption = getOptionsByAttr(flatOptions, 'id', option.parentId)[0];
        var edge;
        edge = !!parentOption ? 
         createEdge(parentOption.label, option.label)
        :createEdge(source, option.label);
        if(!hasDuplicatedEdge(edge)) {
          edges.push(edge);
        }
      })
      var layout = dagreD3.layout().rankDir(arrange).nodeSep(15).rankSep(15);
      var renderer = new dagreD3.Renderer();
      var g = dagreD3.json.decode(nodes, edges);
      renderer.layout(layout).run(g, d3.select("#dig"));
    }

    $('select[name="etl_task_id"]').change(function(){
      selectedLabelArr = [];
      selectedIdArr = [];
      setDownStreamOptions();
      refreshGraph();
    });
    $(document).ready(function(){
      initMultiSelectApp();
      setDownStreamOptions();
      refreshGraph();
    });


  var formType = 0; //0:add 1:edit
  var readonly = false;

  {% if etlTask and not etlTask.rerun_status %}
  readonly=true;
  {% endif %}
  $(document).ready(function() {
    var f = document.forms["task_edit"];
    if(!!f.task_id.value){
        formType = 1;
    }
    if(readonly) {
      $('#task_edit input,#task_edit select').attr('readonly', true); 
      multiSelectApp.disabled=true; // 后置依赖项选择
    }
  })
  var requestLock = false;
  $(".btn.btn-submit").click(function () {
    var f = document.forms["task_edit"];
    var downstreamsData = selectedLabelArr;
    downstreamsData=downstreamsData.filter(function(value, index){
      return index==downstreamsData.indexOf(value);
    }) || [];
    var sendData = {
      dag_id: "{{dag.dag_id}}",
      task_id: f.task_id.value,
      etl_task_id: f.etl_task_id.value,
      rerun_start_date: f.rerun_start_date.value,
      rerun_end_date: f.rerun_end_date.value,
      rerun_downstreams: downstreamsData
    }

    if (!requestLock) {
      requestLock = true;
      function _requestSuccessHandler(){
        $('#task_edit_alert_success .content').text(formType==0?'添加成功':'修改成功');
        $('#task_edit_alert_success').fadeIn(100).delay(3000).fadeOut(100);
      }
      function _requestFailHandler(message){
        $('#task_edit_alert_error .content').text(message||formType==0?'添加失败':'修改失败');
        $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
      }

      var postUrl = formType===0 ? '{{ url_for("airflow.add_rerun_task") }}' : '{{ url_for("airflow.update_rerun_task") }}';
      $.ajax({
        method: "POST",
        url: postUrl,
        data: sendData,
        // traditional: true,
        success: function (response_data) {
          if(response_data && !!~~response_data.success) {
            _requestSuccessHandler();
          } else {
            _requestFailHandler(response_data.message);
          }
        },
        error: function (response_data) {
            _requestFailHandler();
        },
        complete: function (jqXHT) {
          requestLock = false;
        }
      })
    } else {
      console.log("input error.")
    }
  });

  })()
</script>
{{ super() }}
{% endblock %}
