{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
{% extends "airflow/task_edit_master.html" %}

{% block head_css %}
{{ super() }}
<link href="https://cdn.bootcss.com/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.css"
  rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dagre.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graph.css') }}">

<style>
  #task_edit {
    width: 80%;
    margin-left: 25px;
  }

  #task_edit td {
    position: relative;
  }

  #task_edit tr td:first-child {
    width: 20%;
  }

  #task_edit .alert {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
  }

  .day-select,
  .system-config-select,
  .custom-sql-input {
    display: none;
    vertical-align: middle;
  }

  .custom-sql-input textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
  .hour-select {
    display: none;
  }

  input[name="period_type"][value="2"]:checked~.day-select {
    display: inline-block;
  }

  input[name="executetion_logic_type"][value="0"]:checked~.system-config-select {
    display: block;
  }

  input[name="executetion_logic_type"][value="1"]:checked~.custom-sql-input {
    display: block;
  }

  .inline-block {
      display: inline-block;
  }
  .day-select,
  .hour-select{
      line-height: 1.5em;
  }
  .day-select select,
  .hour-select select{
      width: 50px;
  }

  .rerun-date{
    display: none;
  }
  .rerun-date>div{
    display: inline-block;
    width: 33%;
  }
  .switch-options,
  .switch-options .switch-option {
    width: 100%;
  }
  .switch-options .switch-option {
    display: none;
  }
  .switch-options.show-0 .switch-option.type-0,
  .switch-options.show-1 .switch-option.type-1,
  .switch-options.show-2 .switch-option.type-2,
  .switch-options.show-3 .switch-option.type-3 {
    display: block;
  }
  .label-required{
    position: relative;
  }
  .label-required::after {
    content: '*';
    color: red;
    display: block;
    position: absolute;
    top: 0;
    right: -.5em;
  }
</style>
{% endblock %}

{% block editbody %}
{{ super() }}
<form method="get" id="task_edit" class="">
  <div id="task_edit_alert_success" style="display: none; margin-top: 10px;" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <div id="task_edit_alert_error" style="display: none; margin-top: 10px;" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
  <div class="form-group row">
    <label class="col-form-label label-required">任务名</label>
    <input type="text" class="form-control" name="task_id" value="{{ task_id }}" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">任务类型</label>
    <br/>
    <input type="radio" name="task_type" class="form-check-input" value="3">
    <label class="form-check-label">预处置任务</label>
    <input type="radio" name="task_type" class="form-check-input" value="0" checked>
    <label class="form-check-label">下载任务</label>
    <input type="radio" name="task_type" class="form-check-input" value="1">
    <label class="form-check-label">DDS加载任务</label>
    <input type="radio" name="task_type" class="form-check-input" value="2">
    <label class="form-check-label">应用任务</label>
    <div class="rerun-date input-daterange">
      <span>重跑日期:</span>
      <div class="col">
        <input class="form-control date-picker" name="rerun_start_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
      <span>
        到
      </span>
      <div class="col">
          <input class="form-control date-picker" name="rerun_end_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
    </div>
  </div>
  <div class="switch-options">
    <div class="switch-option type-0">
      <div class="form-group row">
        <label class="col-form-label label-required">系统ID</label>
        <input type="text" class="form-control" name="sys_id_0" required>
      </div>
      <div class="form-group row">
        <label class="col-form-label">系统类型</label>
        <select name="sys_type_0" class="form-control">
          {% for i in [[1,"省联社下发系统"], [2,"行内自建系统"]] %}
            <option value="{{i[0]}}"
            {%-if i[0]==1 -%}selected{%- endif -%}
            >{{i[1]}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group row">
        <label class="col-form-label">数据源名称</label>
        <select name="data_source" class="form-control">
          {% for source in dataSources %}
          <option value="{{source.id}}" {% if source.conn_id==default_val['conn_name'] %} selected {% endif %}>{{source.conn_id}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group row">
        <label class="col-form-label">源地址</label>
        <input type="text" class="form-control" name="source_address" required>
      </div>
      <!-- <div class="form-group row">
        <label class="col-form-label">源文件格式</label>
        <input type="text" class="form-control" name="source_format" required>
      </div> -->
      <div class="form-group row">
        <label class="col-form-label">目标地址</label>
        <input type="text" class="form-control" name="target_address_0" required>
      </div>
      <!-- <div class="form-group row">
        <label class="col-form-label">目标表</label>
        <input type="text" class="form-control" name="target_table" required>
      </div> -->
      <div class="form-group row">
        <label class="col-form-label">下载执行标志</label>
        <select name="executetion_token" class="form-control" onchange="toggleExecutetionTokenTime()">
          <option value="0">标志文件</option>
          <option value="1" selected>文件大小不变</option>
          <option value="2">固定时间之后</option>
        </select>
        <span class="hour-select">
          <select name="check_mode_remk" class="form-control inline-block">
            {% for i in range(0, 24) %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>
          点
        </span>
      </div>
      <div class="form-group row">
        <label class="col-form-label">周期</label>
        <div class="">
          <!-- <input type="radio" name="period_type" class="form-check-input" value="0" checked>
          <label class="form-check-label">当天</label> -->
          <input type="radio" name="period_type" class="form-check-input" value="1" checked>
          <label class="form-check-label">每天</label>
          <input type="radio" name="period_type" class="form-check-input" value="2">
          <label class="form-check-label">每周</label>
          <br/>
          <span class="day-select">
            周
            <select name="period_day" class="form-control inline-block">
              <option value="0">日</option>
              <option value="1">一</option>
              <option value="2">二</option>
              <option value="3">三</option>
              <option value="4">四</option>
              <option value="5">五</option>
              <option value="6">六</option>
            </select>
          </span>
          <span class="hour-select">
            <select name="period_hour" class="form-control inline-block">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>
            点
          </span>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-form-label">执行逻辑</label>
        <br/>
        <input type="radio" class="form-check-input" name="executetion_logic_type" value="0" checked><label
          class="col-form-label">系统预置</label>
        <input type="radio" class="form-check-input" name="executetion_logic_type" value="1"><label
          class="col-form-label">自定义SQL</label>
        <div class="system-config-select">
          <select name="executetion_logic_default_setting" class="form-control">
            <option value="0">拉链</option>
            <option value="1">覆盖插入</option>
            <option value="2">更新</option>
            <option value="3">Sqoop</option>
          </select>
        </div>
        <div class="custom-sql-input">
          <textarea type="text" class="form-control" name="executetion_logic_custom_sql"></textarea>
        </div>
      </div> -->

      <!-- <div class="form-group row">
        <label class="col-form-label">出错处理</label>
        <select name="error_handle" class="form-control">
          <option value="0">暂停</option>
          <option value="1">忽略</option>
        </select>
      </div> -->
    </div>
    <div class="switch-option type-1">
      <div class="form-group row">
        <label class="col-form-label label-required">系统ID</label>
        <input type="text" name="sys_id_1" class="form-control"/>
      </div>
      <div class="form-group row">
        <label class="col-form-label">系统类型</label>
        <select name="sys_type_1" class="form-control">
          {% for i in [[1,"省联社下发系统"], [2,"行内自建系统"]] %}
            <option value="{{i[0]}}"
            {%-if i[0]==1 -%}selected{%- endif -%}
            >{{i[1]}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group row">
        <label class="col-form-label">目标地址</label>
        <input type="text" class="form-control" name="target_address_1" required>
      </div>
    </div>
    <div class="switch-option type-2">
      <div class="form-group row">
        <label class="col-form-label label-required">python脚本</label>
        <input type="text" class="form-control" name="python_file_path_2"></input>      
      </div>
      <div class="form-group row dependent-tables-2">
        <label class="col-form-label">依赖表</label>
        <input type="text" class="form-control" placeholder="以逗号作为分隔符" name="dependent_tables_2"></input>
      </div>
    </div>
    <div class="switch-option type-3">
      <div class="form-group row">
        <label class="col-form-label label-required">python脚本</label>
        <input type="text" class="form-control" name="python_file_path_3"></input>      
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">前置依赖项</label>
    <br/>
    <select class="form-control dependencies-select" multiple="multiple" placeholder="请选择">
    </select>
    <div id="svg_container">
      <svg width="{{ width }}" height="{{ height }}">
        <g id='dig' transform="translate(20,20)"></g>
        <filter id="blur-effect-1">
          <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        </filter>
      </svg>
    </div>
  </div>
  <div class="form-group row">
    <div class="btn btn-submit btn-primary">提交</div>
  </div>
</form>
{% endblock %}
{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap-multiselect.min.js') }}"></script>
<script>
  var nowTime = new Date()
  $('.input-daterange').datepicker({
    language: 'zh-CN',
    format: 'yyyy-mm-dd',
    autoclose: true,
  })
  $('.date-picker').datepicker('setDate', new Date())
</script>
<script>
  var deps_selects={{deps_selects|tojson|safe}} || {};
  var deps_select_options={};
  var selected_dependencies=[];
  var dds_task_ids={{dds_task_ids|tojson|safe}} || [];
  var key;
  for(key in deps_selects) {
    (function(){
      var item = deps_selects[key];
      var options = [];
      var i;
      var value;
      options=item.map(function(value){
        return {
          label: value,
          title: value,
          value: value,
          selected: selected_dependencies.indexOf(value)>-1,
        };
      })
      deps_select_options[key] = options;
    })()
  }
  function toggleDependencyTable(){
    var sources = $('.dependencies-select option:selected').map(function(a, item){return item.value;}).toArray();
    var show = sources.some(function(value){
      return dds_task_ids.indexOf(value)>-1;
    });
    show ? $('.dependent-tables-2').show() : $('.dependent-tables-2').hide();
  }
  $(document).ready(function() {
    $('.dependencies-select').multiselect({
        enableFiltering: true,
        disableIfEmpty: true,
    });
    switchOption();
  })
  var requestLock = false;
  // switch form
  function switchOption(value){
    var f = document.forms["task_edit"];
    var task_type = f.task_type.value;
    $('.switch-options').attr('class', 'switch-options '+('show-'+task_type));
    $('.dependencies-select').multiselect('dataprovider', deps_select_options[task_type]||[]);
    refreshGraph();
    if(2===~~task_type){
      toggleDependencyTable();
    }
  }
  $('input[name="task_type"').change(switchOption)
  
  // submit form
  $(".btn.btn-submit").click(function () {
    var f = document.forms["task_edit"];
    var dependenciesData = $('.dependencies-select option:selected').map(function(a, item){return item.value;}).toArray();
    var taskType = f.task_type.value;
    var sendData = {
      dag_id: "{{dag.dag_id}}",
      task_id: f.task_id.value,
      task_type: f.task_type.value,
      conn_id: f.data_source.value,
      sys_id: f['sys_id_'+taskType] && f['sys_id_'+taskType].value || '',
      sys_type: f['sys_type_'+taskType] && f['sys_type_'+taskType].value || '',
      src_path: f.source_address.value,
      dst_path: f['target_address_'+taskType] && f['target_address_'+taskType].value || '',
      flag_to_download: f.executetion_token.value,
      time_to_download: f.check_mode_remk.value,
      period_type: f.period_type.value,
      period_day: f.period_day.value,
      period_hour: f.period_hour.value,
      // tbls_ignored_errors: f.tbls_ignored_errors.value,
      python_module_name: f['python_file_path_'+taskType] && f['python_file_path_'+taskType].value || '',
      dependencies: dependenciesData,
      dependent_tables: f['dependent_tables_'+taskType] && f['dependent_tables_'+taskType].value || ''
    }
    if (!requestLock) {
      requestLock = true;
      $.ajax({
        method: "POST",
        url: '{{ url_for("airflow.add_task",dag_id=dag.dag_id) }}',
        data: sendData,
        success: function (response_data) {
          if(response_data && !!~~response_data.success) {
            $('#task_edit_alert_success .content').text('添加成功');
            $('#task_edit_alert_success').fadeIn(100).delay(3000).fadeOut(100);
          } else {
            $('#task_edit_alert_error .content').text(response_data.message || '修改失败');
            $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
          }
        },
        error: function (response_data) {
          $('#task_edit_alert_error .content').text('修改失败');
          $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
        },
        complete: function (jqXHT) {
          requestLock = false;
        }
      })
    } else {
      console.log("input error.")
    }
  });
  function toggleExecutetionTokenTime(){
    var target = $('select[name="executetion_token"]')[0];
    var value = target.value;

    if(value == 2){
      $('select[name="executetion_token"]~.hour-select').show();
    } else {
      $('select[name="executetion_token"]~.hour-select').hide();
    }
  }
  toggleExecutetionTokenTime();
</script>
<script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='dagre-d3.js') }}"></script>
<script>
  var nodes = [];
  var edges = [];
  var arrange = "LR";
  function createNode(name){
    return {
      id: name,
      value: {
        label: name,
        labelStyle: 'fill:#000',
        style: 'fill:#f0ede4;',
      }
    }
  }
  function createEdge(source, target){
    return {
      u: source,
      v: target,
    }
  }
  $('.dependencies-select').change(refreshGraph);
  $('.dependencies-select').change(toggleDependencyTable);
  $('input[name="task_id"]').change(refreshGraph);
  $(document).ready(refreshGraph);
  function refreshGraph() {
    var f = document.forms["task_edit"];
    var target = f.task_id.value;
    var sources = $('.dependencies-select option:selected').map(function(a, item){return item.value;}).toArray();

    nodes = [];
    edges = [];
    var targetNode = createNode(target);
    targetNode.value.style="fill:#f0ede4; stroke: #080;"
    nodes.push(targetNode);
    sources.forEach(function(source){
      nodes.push(createNode(source));
      edges.push(createEdge(source, target));
    })
    var layout = dagreD3.layout().rankDir(arrange).nodeSep(15).rankSep(15);
    var renderer = new dagreD3.Renderer();
    var g = dagreD3.json.decode(nodes, edges);
    renderer.layout(layout).run(g, d3.select("#dig"));
  }
</script>
<script>
(function(){
  var pathTemplates={};
  var srcPathTemplate={};
  var dstPathTemplate={};
  {% if default_val %}
  pathTemplates={{default_val|tojson|safe}};
  {% endif %}
  function setPathFromSysId(type) {
    var sys_type=$('select[name="sys_type_'+type+'"]').val();
    var sys_id=$('input[name="sys_id_'+type+'"]').val();
    sys_id=sys_id&&sys_id.toUpperCase()||'';
    srcPathTemplate[sys_type] && $('.type-'+type+' input[name^="source_address"]').val(
      srcPathTemplate[sys_type].replace('{system}', sys_id)
    )
    dstPathTemplate[sys_type] && $('.type-'+type+' input[name^="target_address"]').val(
      dstPathTemplate[sys_type].replace('{system}', sys_id)
    )
  }
  function refreshTemplate(type) {
    // var sys_type=$('select[name="sys_type_'+type+'"]').val();
    // var sys_id=$('input[name="sys_id_'+type+'"]').val();
    // if(isNaN(sys_id)) return;
    // var srcPath = $('.type-'+type+' input[name^="source_address"]').val();
    // var dstPath = $('.type-'+type+' input[name^="target_address"]').val();
    // !!srcPath && srcPathTemplate[sys_type]&&(srcPathTemplate[sys_type]=srcPath.replace(new RegExp('(\b'+sys_id.toUpperCase()+'\b)'), '{system}'));
    // !!dstPath && dstPathTemplate[sys_type]&&(dstPathTemplate[sys_type]=dstPath.replace(new RegExp('(\b'+sys_id.toUpperCase()+'\b)'), '{system}'));
  }
  function resetTemplate(type){
    var sys_type=$('select[name="sys_type_'+type+'"]').val();
    if(isNaN(sys_type)) return;
    var key;
    var val;
    for(key in pathTemplates){
      val = pathTemplates[key];
      srcPathTemplate[key]=val.src_path;
      dstPathTemplate[key]=val.dst_path;
    }
  }
  $('input[name="sys_id_0"]').on('input', function(){
    setPathFromSysId(0);
  })
  $('input[name="sys_id_1"]').on('input', function(){
    setPathFromSysId(1);
  })
  $('select[name="sys_type_0"]').change(function(event){
    resetTemplate(0);
    setPathFromSysId(0);
  })
  $('select[name="sys_type_1"]').change(function(event){
    resetTemplate(1);
    setPathFromSysId(1);
  })
  $('.type-0 input[name^="source_address"], .type-0 input[name^="target_address"]')
  .change(function(event){
    refreshTemplate(0);
  })
  $('.type-1 input[name^="source_address"], .type-1 input[name^="target_address"]')
  .change(function(event){
    refreshTemplate(0);
  })
  resetTemplate(0);
  setPathFromSysId(0);
  resetTemplate(1);
  setPathFromSysId(1);
})()
</script>
{{ super() }}
{% endblock %}
