{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
{% extends "airflow/dag.html" %}

{% block head_css %}
{{ super() }}
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}"
  rel="stylesheet">
<style>
  #task_edit {
    width: 80%;
    margin-left: 25px;
  }

  #task_edit td {
    position: relative;
  }

  #task_edit tr td:first-child {
    width: 20%;
  }

  #task_edit .alert {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
  }

  .day-select,
  .system-config-select,
  .custom-sql-input {
    display: none;
    vertical-align: middle;
  }

  .custom-sql-input textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }

  input[name="period_type"][value="weekly"]:checked~.day-select {
    display: inline-block;
  }

  input[name="executetion_logic_type"][value="system"]:checked~.system-config-select {
    display: block;
  }

  input[name="executetion_logic_type"][value="custom"]:checked~.custom-sql-input {
    display: block;
  }

  .inline-block {
      display: inline-block;
  }
  .day-select,
  .hour-select{
      line-height: 1.5em;
  }
  .day-select select,
  .hour-select select{
      width: 50px;
  }
</style>
{% endblock %}

{% block body %}
{{ super() }}
<form method="get" id="task_edit" class="">
  <div id="task_edit_alert_success" style="display: none; margin-top: 10px;" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <div id="task_edit_alert_error" style="display: none; margin-top: 10px;" class="alert alert-error" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
  <div class="form-group row">
    <label class="col-form-label">任务名</label>

    <input type="text" class="form-control" name="task_id" value="{{ task_id }}" required>

  </div>
  <div class="form-group row">
    <label class="col-form-label">源地址</label>
    <input type="text" class="form-control" name="source_address" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">源文件格式</label>
    <input type="text" class="form-control" name="source_format" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">目标地址</label>
    <input type="text" class="form-control" name="target_address" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">目标表</label>
    <input type="text" class="form-control" name="target_table" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">数据源名称</label>
    <select name="data_source" class="form-control">
      {% for source in dataSources %}
      <option value="{{source.id}}">{{source.conn_id}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">执行标志</label>
    <select name="executetion_token" class="form-control">
      <option>标志文件</option>
      <option>文件大小不变</option>
      <option>固定时间之后</option>
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">周期</label>
    <div class="">
      <input type="radio" name="period_type" class="form-check-input" value="today" checked>
      <label class="form-check-label">当天</label>
      <input type="radio" name="period_type" class="form-check-input" value="daily">
      <label class="form-check-label">每天</label>
      <input type="radio" name="period_type" class="form-check-input" value="weekly">
      <label class="form-check-label">每周</label>
      <br/>
      <span class="day-select">
        周
        <select name="period_day" class="form-control inline-block">
          <option>日</option>
          <option>一</option>
          <option>二</option>
          <option>三</option>
          <option>四</option>
          <option>五</option>
          <option>六</option>
        </select>
      </span>
      <span class="hour-select">
        <select name="period_hour" class="form-control inline-block">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
        </select>
        点
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">执行逻辑</label>
    <br/>
    <input type="radio" class="form-check-input" name="executetion_logic_type" value="system" checked><label
      class="col-form-label">系统预置</label>
    <input type="radio" class="form-check-input" name="executetion_logic_type" value="custom"><label
      class="col-form-label">自定义SQL</label>
    <div class="system-config-select">
      <select name="executetion_logic_default_setting" class="form-control">
        <option>拉链</option>
        <option>覆盖插入</option>
        <option>更新</option>
        <option>Sqoop</option>
      </select>
    </div>
    <div class="custom-sql-input">
      <textarea type="text" class="form-control" name="executetion_logic_custom_sql"></textarea>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-form-label">出错处理</label>
    <select name="error_handle" class="form-control">
      <option>暂停</option>
      <option>忽略</option>
    </select>
  </div>
  <div class="form-group row">
    <div class="btn btn-submit btn-primary">提交</div>
  </div>
</form>
{% endblock %}
{% block tail %}
{{ super() }}
<script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ admin_static.url(filename='admin/js/form-1.0.0.js') }}"></script>
<script>
  $(document).ready(function () {
    function date_change() {
      execution_date = $("input#execution_date").val().replace(' ', 'T');
      loc = decodeURIComponent(window.location.href);
      loc = loc.replace('{{ execution_date }}', execution_date);
      window.location = loc;
    }
    $("input#execution_date").on("change.daterangepicker", function () {
      date_change();
    });
    $("input#execution_date").on("apply.daterangepicker", function () {
      date_change();
    });
  });

  var requestLock = false;
  $(".btn.btn-submit").click(function () {
    var f = document.forms["task_edit"];
    var sendData = {
      task_id: f.task_id.value,
      source_address: f.source_address.value,
      source_format: f.source_format.value,
      target_address: f.target_address.value,
      target_table: f.target_table.value,
      data_source: f.data_source.value,
      executetion_token: f.executetion_token.value,
      period: f.period_type.value,
      period_day: f.period_day.value,
      period_hour: f.period_hour.value,
      executetion_logic_type: f.executetion_logic_type.value,
      executetion_logic_default_setting: f.executetion_logic_default_setting.value,
      executetion_logic_custom_sql: f.executetion_logic_custom_sql.value,
      error_handle: f.error_handle.value
    }
    if (!requestLock) {
      requestLock = true;
      $.ajax({
        method: "POST",
        url: '{{ url_for("airflow.update_task",dag_id=dag.dag_id) }}',
        data: sendData,
        success: function (response_data) {
          $('#task_edit_alert_success .content').text('修改成功');
          $('#task_edit_alert_success').fadeIn(100).delay(3000).fadeOut(100);
        },
        failure: function (response_data) {
          $('#task_edit_alert_error .content').text('修改失败');
          $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
        },
        complete: function (jqXHT) {
          requestLock = false;
        }
      })
    } else {
      console.log("input error.")
    }
  });

</script>
{% endblock %}
