{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
{% extends "airflow/task_edit_master.html" %}

{% block head_css %}
{{ super() }}
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}"
  rel="stylesheet">
<style>
  #task_edit {
    width: 80%;
    margin-left: 25px;
  }

  #task_edit td {
    position: relative;
  }

  #task_edit tr td:first-child {
    width: 20%;
  }

  #task_edit .alert {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
  }

  .day-select,
  .system-config-select,
  .custom-sql-input {
    display: none;
    vertical-align: middle;
  }

  .custom-sql-input textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }

  select[name="executetion_token"]~.hour-select {
    display: none;
  }

  input[name="period_type"][value="2"]:checked~.day-select {
    display: inline-block;
  }

  input[name="executetion_logic_type"][value="0"]:checked~.system-config-select {
    display: block;
  }

  input[name="executetion_logic_type"][value="1"]:checked~.custom-sql-input {
    display: block;
  }

  .inline-block {
      display: inline-block;
  }
  .day-select,
  .hour-select{
      line-height: 1.5em;
  }
  .day-select select,
  .hour-select select{
      width: 50px;
  }

  .rerun-date{
    display: none;
  }
  .rerun-date>div{
    display: inline-block;
    width: 33%;
  }
  input[name="task_type"][value="1"]:checked~.rerun-date{
    display: block;
  }
</style>
{% endblock %}

{% block body %}
{{ super() }}
<form method="get" id="task_edit" class="">
  <div id="task_edit_alert_success" style="display: none; margin-top: 10px;" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <div id="task_edit_alert_error" style="display: none; margin-top: 10px;" class="alert alert-error" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
  <div class="form-group row">
    <label class="col-form-label">任务类型</label>
    <br/>
    {% for i in [[0,"调度任务"], [1,"重跑任务"]] %}
    <input type="radio" name="task_type" class="form-check-input" value="{{i[0]}}" 
     {%-if etlTask.task_type is none and i[0]==0 -%}checked{%- endif -%}
     {%-if etlTask.task_type==i[0] -%}checked{%- endif -%}>
    <label class="form-check-label">{{i[1]}}</label>
    {% endfor %}
    <div class="rerun-date input-daterange">
      <span>重跑日期:</span>
      <div class="col">
        <input class="form-control date-picker" name="rerun_start_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
      <span>
        到
      </span>
      <div class="col">
          <input class="form-control date-picker" name="rerun_end_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">任务名</label>

    <input type="text" class="form-control" name="task_id" value="{{ request.args.get('task_id') }}" readonly required>

  </div>
  <div class="form-group row">
    <label class="col-form-label">源地址</label>
    <input type="text" class="form-control" name="source_address" value="{{ etlTask.src_path }}"" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">源文件格式</label>
    <input type="text" class="form-control" name="source_format" value="{{ etlTask.file_pattern }}" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">目标地址</label>
    <input type="text" class="form-control" name="target_address" value="{{ etlTask.dst_path }}" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">目标表</label>
    <input type="text" class="form-control" name="target_table" value="{{ etlTask.dst_tbl }}" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">数据源名称</label>
    <select name="data_source" class="form-control">
      {% for source in dataSources %}
      <option value="{{source.id}}" 
       {%-if etlTask.conn_id==source.id -%}selected{%- endif -%}>{{source.conn_id}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">执行标志</label>
    <select name="executetion_token" class="form-control" onchange="toggleExecutetionTokenTime()">
      {% for i in [[0,"标志文件"], [1,"文件大小不变"], [2,"固定时间之后"]] %}
        <option value="{{i[0]}}"
        {%-if etlTask.check_mode is none and i[0]==0 -%}selected{%- endif -%}
        {%-if etlTask.check_mode==i[0] -%}selected{%- endif -%}
        >{{i[1]}}</option>
      {% endfor %}
    </select>
    <span class="hour-select">
      <select name="check_mode_remk" class="form-control inline-block">
        {% for i in range(0, 24) %}
        <option value="{{i}}" {%- if (etlTask.check_mode_remk|int == i) -%}selected{%- endif -%}>{{i}}</option>
        {% endfor %}
      </select>
      点
    </span>
  </div>
  <div class="form-group row">
    <label class="col-form-label">周期</label>
    <div class="">
      {% for i in [[0,"当天"], [1,"每天"], [2,"每周"]] %}
      <input type="radio" name="period_type" class="form-check-input" value="{{i[0]}}" 
       {%-if etlTask.period_type is none and i[0]==0 -%}checked{%- endif -%}
       {%-if etlTask.period_type==i[0] -%}checked{%- endif -%}>
      <label class="form-check-label">{{i[1]}}</label>
      {% endfor %}
      <br/>
      <span class="day-select">
        周
        <select name="period_day" class="form-control inline-block" value="{{ etlTask.period_weekday }}">
          {% for i in [
            [0,"日"], [1,"一"], [2,"二"], [3,"三"], [4,"四"], [5,"五"], [6,"六"]
          ] %}
          <option value="{{i[0]}}" {%-if etlTask.period_weekday==i[0] -%}selected{%- endif -%}>{{i[1]}}</option>
          {% endfor %}
        </select>
      </span>
      <span class="hour-select">
        <select name="period_hour" class="form-control inline-block" value="{{ etlTask.period_hour }}">
          {% for i in range(0, 24) %}
          <option value="{{i}}" {%-if etlTask.period_hour==i -%}selected{%- endif -%}>{{i}}</option>
          {% endfor %}
        </select>
        点
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">执行逻辑</label>
    <br/>
    {% for i in [[0,"系统预置"], [1,"自定义SQL"]] %}
    <input type="radio" class="form-check-input" name="executetion_logic_type" value="{{i[0]}}" 
      {%-if etlTask.exec_logic_type is none and i[0]==0 -%}checked{%- endif -%}
      {%-if etlTask.exec_logic_type==i[0] -%}checked{%- endif -%}><label
      class="col-form-label">{{i[1]}}</label>
    {% endfor %}
    <div class="system-config-select">
      <select name="executetion_logic_default_setting" class="form-control" value="{{ etlTask.exec_logic_preset_type }}">
        {% for i in [[0,"拉链"], [1,"覆盖插入"], [2,"更新"], [3,"Sqoop"]] %}
          <option value="{{i[0]}}"
          {%-if etlTask.exec_logic_preset_type is none and i[0]==0 -%}selected{%- endif -%}
          {%-if etlTask.exec_logic_preset_type==i[0] -%}selected{%- endif -%}
          >{{i[1]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="custom-sql-input">
      <textarea type="text" class="form-control" name="executetion_logic_custom_sql" value="{{ etlTask.exec_logic_custom_sql }}">{{ etlTask.exec_logic_custom_sql }}</textarea>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-form-label">出错处理</label>
    <select name="error_handle" class="form-control" value="{{ etlTask.error_handle }}">
      {% for i in [[0,"暂停"], [1,"忽略"]] %}
      <option value="{{i[0]}}"
      {%-if etlTask.error_handle is none and i[0]==0 -%}selected{%- endif -%}
      {%-if etlTask.error_handle==i[0] -%}selected{%- endif -%}
      >{{i[1]}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <div class="btn btn-submit btn-primary">提交</div>
  </div>
</form>
{% endblock %}
{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script>
  var nowTime = new Date()
  $('.input-daterange').datepicker({
    language: 'zh-CN',
    format: 'yyyy-mm-dd',
    autoclose: true,
  })
  $('.date-picker[name="rerun_start_date"]').datepicker('setDate', "{{etlTask.rerun_start_date}}")
  $('.date-picker[name="rerun_end_date"]').datepicker('setDate', "{{etlTask.rerun_end_date}}")
</script>
<script>
  var requestLock = false;
  $(".btn.btn-submit").click(function () {
    var f = document.forms["task_edit"];
    var sendData = {
      dag_id: "{{dag.dag_id}}",
      task_id: f.task_id.value,
      source_address: f.source_address.value,
      source_format: f.source_format.value,
      target_address: f.target_address.value,
      target_table: f.target_table.value,
      data_source: f.data_source.value,
      executetion_token: f.executetion_token.value,
      check_mode_remk: f.check_mode_remk.value,
      period_type: f.period_type.value,
      period_day: f.period_day.value,
      period_hour: f.period_hour.value,
      executetion_logic_type: f.executetion_logic_type.value,
      executetion_logic_default_setting: f.executetion_logic_default_setting.value,
      executetion_logic_custom_sql: f.executetion_logic_custom_sql.value,
      error_handle: f.error_handle.value,
      task_type: f.task_type.value,
      rerun_start_date: f.rerun_start_date.value,
      rerun_end_date: f.rerun_end_date.value,
    }
    if (!requestLock) {
      requestLock = true;
      function _requestSuccessHandler(){
        $('#task_edit_alert_success .content').text('修改成功');
        $('#task_edit_alert_success').fadeIn(100).delay(3000).fadeOut(100);
      }
      function _requestFailHandler(message){
        $('#task_edit_alert_error .content').text(message||'修改失败');
        $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
      }
      $.ajax({
        method: "POST",
        url: '{{ url_for("airflow.update_task") }}',
        data: sendData,
        success: function (response_data) {
          if(response_data && !!~~response_data.success) {
            _requestSuccessHandler();
          } else {
            _requestFailHandler(response_data.message);
          }
        },
        failure: function (response_data) {
            _requestFailHandler();
        },
        complete: function (jqXHT) {
          requestLock = false;
        }
      })
    } else {
      console.log("input error.")
    }
  });

  function toggleExecutetionTokenTime(){
    var target = $('select[name="executetion_token"]')[0];
    var value = target.value;

    if(value == 2){
      $('select[name="executetion_token"]~.hour-select').show();
    } else {
      $('select[name="executetion_token"]~.hour-select').hide();
    }
  }
  toggleExecutetionTokenTime();
</script>
{{ super() }}
{% endblock %}
