{#
    #
    # Licensed to the Apache Software Foundation (ASF) under one
    # or more contributor license agreements.  See the NOTICE file
    # distributed with this work for additional information
    # regarding copyright ownership.  The ASF licenses this file
    # to you under the Apache License, Version 2.0 (the
    # "License"); you may not use this file except in compliance
    # with the License.  You may obtain a copy of the License at
    # 
    #   http://www.apache.org/licenses/LICENSE-2.0
    # 
    # Unless required by applicable law or agreed to in writing,
    # software distributed under the License is distributed on an
    # "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    # KIND, either express or implied.  See the License for the
    # specific language governing permissions and limitations
    # under the License.
    #
    #}
{% extends "airflow/task_edit_master.html" %}

{% block head_css %}
{{ super() }}
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}"
  rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.css"
  rel="stylesheet">
<style>
  #task_edit {
    width: 80%;
    margin-left: 25px;
  }

  #task_edit td {
    position: relative;
  }

  #task_edit tr td:first-child {
    width: 20%;
  }

  #task_edit .alert {
    width: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
  }

  .day-select,
  .system-config-select,
  .custom-sql-input {
    display: none;
    vertical-align: middle;
  }

  .custom-sql-input textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
  select[name="executetion_token"]~.hour-select {
    display: none;
  }

  input[name="period_type"][value="2"]:checked~.day-select {
    display: inline-block;
  }

  input[name="executetion_logic_type"][value="0"]:checked~.system-config-select {
    display: block;
  }

  input[name="executetion_logic_type"][value="1"]:checked~.custom-sql-input {
    display: block;
  }

  .inline-block {
      display: inline-block;
  }
  .day-select,
  .hour-select{
      line-height: 1.5em;
  }
  .day-select select,
  .hour-select select{
      width: 50px;
  }

  .rerun-date{
    display: none;
  }
  .rerun-date>div{
    display: inline-block;
    width: 33%;
  }
  input[name="task_type"][value="1"]:checked~.rerun-date{
    display: block;
  }
</style>
{% endblock %}

{% block body %}
{{ super() }}
<form method="get" id="task_edit" class="">
  <div id="task_edit_alert_success" style="display: none; margin-top: 10px;" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <div id="task_edit_alert_error" style="display: none; margin-top: 10px;" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="content"></span>
  </div>
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
  <div class="form-group row">
    <label class="col-form-label">任务类型</label>
    <br/>
    <input type="radio" name="task_type" class="form-check-input" value="0" checked>
    <label class="form-check-label">调度任务</label>
    <input type="radio" name="task_type" class="form-check-input" value="1">
    <label class="form-check-label">重跑任务</label>
    <div class="rerun-date input-daterange">
      <span>重跑日期:</span>
      <div class="col">
        <input class="form-control date-picker" name="rerun_start_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
      <span>
        到
      </span>
      <div class="col">
          <input class="form-control date-picker" name="rerun_end_date" type="text" data-date-format="yyyy-mm-dd">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">任务名</label>

    <input type="text" class="form-control" name="task_id" value="{{ task_id }}" required>

  </div>
  <div class="form-group row">
    <label class="col-form-label">数据源名称</label>
    <select name="data_source" class="form-control">
      {% for source in dataSources %}
      <option value="{{source.id}}">{{source.conn_id}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group row">
    <label class="col-form-label">源地址</label>
    <input type="text" class="form-control" name="source_address" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">源文件格式</label>
    <input type="text" class="form-control" name="source_format" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">目标地址</label>
    <input type="text" class="form-control" name="target_address" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">目标表</label>
    <input type="text" class="form-control" name="target_table" required>
  </div>
  <div class="form-group row">
    <label class="col-form-label">执行标志</label>
    <select name="executetion_token" class="form-control" onchange="toggleExecutetionTokenTime()">
      <option value="0">标志文件</option>
      <option value="1">文件大小不变</option>
      <option value="2">固定时间之后</option>
    </select>
    <span class="hour-select">
      <select name="check_mode_remk" class="form-control inline-block">
        {% for i in range(0, 24) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      点
    </span>
  </div>
  <div class="form-group row">
    <label class="col-form-label">周期</label>
    <div class="">
      <input type="radio" name="period_type" class="form-check-input" value="0" checked>
      <label class="form-check-label">当天</label>
      <input type="radio" name="period_type" class="form-check-input" value="1">
      <label class="form-check-label">每天</label>
      <input type="radio" name="period_type" class="form-check-input" value="2">
      <label class="form-check-label">每周</label>
      <br/>
      <span class="day-select">
        周
        <select name="period_day" class="form-control inline-block">
          <option value="0">日</option>
          <option value="1">一</option>
          <option value="2">二</option>
          <option value="3">三</option>
          <option value="4">四</option>
          <option value="5">五</option>
          <option value="6">六</option>
        </select>
      </span>
      <span class="hour-select">
        <select name="period_hour" class="form-control inline-block">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
        点
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">执行逻辑</label>
    <br/>
    <input type="radio" class="form-check-input" name="executetion_logic_type" value="0" checked><label
      class="col-form-label">系统预置</label>
    <input type="radio" class="form-check-input" name="executetion_logic_type" value="1"><label
      class="col-form-label">自定义SQL</label>
    <div class="system-config-select">
      <select name="executetion_logic_default_setting" class="form-control">
        <option value="0">拉链</option>
        <option value="1">覆盖插入</option>
        <option value="2">更新</option>
        <option value="3">Sqoop</option>
      </select>
    </div>
    <div class="custom-sql-input">
      <textarea type="text" class="form-control" name="executetion_logic_custom_sql"></textarea>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-form-label">出错处理</label>
    <select name="error_handle" class="form-control">
      <option value="0">暂停</option>
      <option value="1">忽略</option>
    </select>
  </div>
  <div class="form-group row">
    <div class="btn btn-submit btn-primary">提交</div>
  </div>
</form>
{% endblock %}
{% block tail %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script>
  var nowTime = new Date()
  $('.input-daterange').datepicker({
    language: 'zh-CN',
    format: 'yyyy-mm-dd',
    autoclose: true,
  })
  $('.date-picker').datepicker('setDate', new Date())
</script>
<script>
  var requestLock = false;
  $(".btn.btn-submit").click(function () {
    var f = document.forms["task_edit"];
    var sendData = {
      dag_id: "{{dag.dag_id}}",
      task_id: f.task_id.value,
      source_address: f.source_address.value,
      source_format: f.source_format.value,
      target_address: f.target_address.value,
      target_table: f.target_table.value,
      data_source: f.data_source.value,
      executetion_token: f.executetion_token.value,
      check_mode_remk: f.check_mode_remk.value,
      period_type: f.period_type.value,
      period_day: f.period_day.value,
      period_hour: f.period_hour.value,
      executetion_logic_type: f.executetion_logic_type.value,
      executetion_logic_default_setting: f.executetion_logic_default_setting.value,
      executetion_logic_custom_sql: f.executetion_logic_custom_sql.value,
      error_handle: f.error_handle.value,
      task_type: f.task_type.value,
      rerun_start_date: f.rerun_start_date.value,
      rerun_end_date: f.rerun_end_date.value,
    }
    if (!requestLock) {
      requestLock = true;
      $.ajax({
        method: "POST",
        url: '{{ url_for("airflow.add_task",dag_id=dag.dag_id) }}',
        data: sendData,
        success: function (response_data) {
          if(response_data && !!~~response_data.success) {
            $('#task_edit_alert_success .content').text('添加成功');
            $('#task_edit_alert_success').fadeIn(100).delay(3000).fadeOut(100);
          } else {
            $('#task_edit_alert_error .content').text(response_data.message || '修改失败');
            $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
          }
        },
        failure: function (response_data) {
          $('#task_edit_alert_error .content').text('修改失败');
          $('#task_edit_alert_error').fadeIn(100).delay(3000).fadeOut(100);
        },
        complete: function (jqXHT) {
          requestLock = false;
        }
      })
    } else {
      console.log("input error.")
    }
  });
  function toggleExecutetionTokenTime(){
    var target = $('select[name="executetion_token"]')[0];
    var value = target.value;

    if(value == 2){
      $('select[name="executetion_token"]~.hour-select').show();
    } else {
      $('select[name="executetion_token"]~.hour-select').hide();
    }
  }
  toggleExecutetionTokenTime();
</script>
{{ super() }}
{% endblock %}
